
.animation span {
    width: 39vmin;
    height: 39vmin;
    border-radius: 39vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


.animation span:nth-child(0) {
    color: #f709fb;
    top: 50%;
    left: 86%;
    animation-duration: 52s;
    animation-delay: -42s;
    transform-origin: 2vw 22vh;
    box-shadow: 78vmin 0 10.29855297999801vmin currentColor;
}
.animation span:nth-child(1) {
    color: #f709fb;
    top: 12%;
    left: 83%;
    animation-duration: 27s;
    animation-delay: -7s;
    transform-origin: -24vw -7vh;
    box-shadow: 78vmin 0 9.753109495449962vmin currentColor;
}
.animation span:nth-child(2) {
    color: #f709fb;
    top: 21%;
    left: 84%;
    animation-duration: 39s;
    animation-delay: -50s;
    transform-origin: 3vw -11vh;
    box-shadow: 78vmin 0 10.53049791475508vmin currentColor;
}
.animation span:nth-child(3) {
    color: #000000;
    top: 27%;
    left: 92%;
    animation-duration: 6s;
    animation-delay: -27s;
    transform-origin: 14vw 15vh;
    box-shadow: -78vmin 0 10.109791197271147vmin currentColor;
}
.animation span:nth-child(4) {
    color: #000000;
    top: 3%;
    left: 28%;
    animation-duration: 20s;
    animation-delay: -20s;
    transform-origin: -23vw 24vh;
    box-shadow: 78vmin 0 10.072564082092729vmin currentColor;
}
.animation span:nth-child(5) {
    color: #99ff00;
    top: 34%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -43s;
    transform-origin: 12vw 0vh;
    box-shadow: 78vmin 0 10.521066547980823vmin currentColor;
}
.animation span:nth-child(6) {
    color: #000000;
    top: 58%;
    left: 61%;
    animation-duration: 10s;
    animation-delay: -47s;
    transform-origin: 19vw 8vh;
    box-shadow: -78vmin 0 10.25550186270219vmin currentColor;
}
.animation span:nth-child(7) {
    color: #113dee;
    top: 99%;
    left: 7%;
    animation-duration: 50s;
    animation-delay: -44s;
    transform-origin: -20vw 6vh;
    box-shadow: -78vmin 0 10.578593291812915vmin currentColor;
}
.animation span:nth-child(8) {
    color: #000000;
    top: 23%;
    left: 20%;
    animation-duration: 39s;
    animation-delay: -49s;
    transform-origin: -1vw -21vh;
    box-shadow: -78vmin 0 10.273723112169321vmin currentColor;
}
.animation span:nth-child(9) {
    color: #99ff00;
    top: 79%;
    left: 15%;
    animation-duration: 41s;
    animation-delay: -36s;
    transform-origin: 9vw -17vh;
    box-shadow: 78vmin 0 10.330954802860298vmin currentColor;
}
.animation span:nth-child(10) {
    color: #000000;
    top: 19%;
    left: 54%;
    animation-duration: 35s;
    animation-delay: -41s;
    transform-origin: -18vw 19vh;
    box-shadow: -78vmin 0 10.177739701014229vmin currentColor;
}
.animation span:nth-child(11) {
    color: #99ff00;
    top: 2%;
    left: 11%;
    animation-duration: 19s;
    animation-delay: -41s;
    transform-origin: 23vw 25vh;
    box-shadow: 78vmin 0 9.826622500135086vmin currentColor;
}
.animation span:nth-child(12) {
    color: #99ff00;
    top: 42%;
    left: 2%;
    animation-duration: 32s;
    animation-delay: -50s;
    transform-origin: -21vw -5vh;
    box-shadow: -78vmin 0 10.702809395177004vmin currentColor;
}
.animation span:nth-child(13) {
    color: #000000;
    top: 55%;
    left: 92%;
    animation-duration: 22s;
    animation-delay: -15s;
    transform-origin: 8vw 22vh;
    box-shadow: 78vmin 0 10.1254576632305vmin currentColor;
}
.animation span:nth-child(14) {
    color: #f709fb;
    top: 41%;
    left: 4%;
    animation-duration: 27s;
    animation-delay: -17s;
    transform-origin: -4vw 14vh;
    box-shadow: -78vmin 0 10.580050168326142vmin currentColor;
}
.animation span:nth-child(15) {
    color: #f709fb;
    top: 86%;
    left: 58%;
    animation-duration: 10s;
    animation-delay: -12s;
    transform-origin: -13vw -6vh;
    box-shadow: -78vmin 0 9.94304911290547vmin currentColor;
}
.animation span:nth-child(16) {
    color: #113dee;
    top: 95%;
    left: 1%;
    animation-duration: 9s;
    animation-delay: -36s;
    transform-origin: 11vw 7vh;
    box-shadow: 78vmin 0 10.143846683633909vmin currentColor;
}
.animation span:nth-child(17) {
    color: #113dee;
    top: 82%;
    left: 90%;
    animation-duration: 42s;
    animation-delay: -21s;
    transform-origin: 5vw 7vh;
    box-shadow: 78vmin 0 10.123466776819678vmin currentColor;
}
.animation span:nth-child(18) {
    color: #99ff00;
    top: 8%;
    left: 60%;
    animation-duration: 42s;
    animation-delay: -42s;
    transform-origin: -11vw -3vh;
    box-shadow: -78vmin 0 10.44509561329353vmin currentColor;
}
.animation span:nth-child(19) {
    color: #f709fb;
    top: 43%;
    left: 88%;
    animation-duration: 27s;
    animation-delay: -16s;
    transform-origin: -12vw 17vh;
    box-shadow: -78vmin 0 9.816334308155545vmin currentColor;
}
.animation span:nth-child(20) {
    color: #113dee;
    top: 4%;
    left: 64%;
    animation-duration: 28s;
    animation-delay: -19s;
    transform-origin: 23vw -6vh;
    box-shadow: 78vmin 0 10.454876318097641vmin currentColor;
}
.animation span:nth-child(21) {
    color: #000000;
    top: 96%;
    left: 3%;
    animation-duration: 19s;
    animation-delay: -34s;
    transform-origin: -1vw -24vh;
    box-shadow: 78vmin 0 10.74821931453357vmin currentColor;
}
.animation span:nth-child(22) {
    color: #99ff00;
    top: 93%;
    left: 62%;
    animation-duration: 33s;
    animation-delay: -24s;
    transform-origin: 15vw -16vh;
    box-shadow: -78vmin 0 9.939676621643834vmin currentColor;
}
.animation span:nth-child(23) {
    color: #000000;
    top: 19%;
    left: 82%;
    animation-duration: 18s;
    animation-delay: -1s;
    transform-origin: -23vw 11vh;
    box-shadow: -78vmin 0 10.150946120058347vmin currentColor;
}
.animation span:nth-child(24) {
    color: #113dee;
    top: 86%;
    left: 80%;
    animation-duration: 17s;
    animation-delay: -11s;
    transform-origin: 19vw -8vh;
    box-shadow: -78vmin 0 10.003254270645423vmin currentColor;
}
.animation span:nth-child(25) {
    color: #000000;
    top: 40%;
    left: 80%;
    animation-duration: 37s;
    animation-delay: -8s;
    transform-origin: -22vw -10vh;
    box-shadow: -78vmin 0 10.244742542161541vmin currentColor;
}
.animation span:nth-child(26) {
    color: #99ff00;
    top: 56%;
    left: 100%;
    animation-duration: 28s;
    animation-delay: -13s;
    transform-origin: -6vw 24vh;
    box-shadow: 78vmin 0 10.324109319495864vmin currentColor;
}
.animation span:nth-child(27) {
    color: #99ff00;
    top: 88%;
    left: 75%;
    animation-duration: 28s;
    animation-delay: -38s;
    transform-origin: 0vw 7vh;
    box-shadow: 78vmin 0 10.437921932995865vmin currentColor;
}
.animation span:nth-child(28) {
    color: #113dee;
    top: 42%;
    left: 65%;
    animation-duration: 50s;
    animation-delay: -47s;
    transform-origin: 18vw -14vh;
    box-shadow: -78vmin 0 10.591510558859184vmin currentColor;
}
.animation span:nth-child(29) {
    color: #113dee;
    top: 99%;
    left: 24%;
    animation-duration: 8s;
    animation-delay: -45s;
    transform-origin: -4vw -6vh;
    box-shadow: -78vmin 0 10.275568210702598vmin currentColor;
}
.animation span:nth-child(30) {
    color: #99ff00;
    top: 86%;
    left: 9%;
    animation-duration: 40s;
    animation-delay: -24s;
    transform-origin: -13vw -18vh;
    box-shadow: 78vmin 0 9.756595390364833vmin currentColor;
}
.animation span:nth-child(31) {
    color: #99ff00;
    top: 10%;
    left: 56%;
    animation-duration: 25s;
    animation-delay: -26s;
    transform-origin: 18vw -7vh;
    box-shadow: 78vmin 0 10.448380140981378vmin currentColor;
}
.animation span:nth-child(32) {
    color: #113dee;
    top: 74%;
    left: 73%;
    animation-duration: 10s;
    animation-delay: -38s;
    transform-origin: -17vw 9vh;
    box-shadow: 78vmin 0 10.558582336226493vmin currentColor;
}
.animation span:nth-child(33) {
    color: #113dee;
    top: 59%;
    left: 6%;
    animation-duration: 18s;
    animation-delay: -40s;
    transform-origin: -15vw 0vh;
    box-shadow: -78vmin 0 9.775456566673306vmin currentColor;
}
.animation span:nth-child(34) {
    color: #99ff00;
    top: 52%;
    left: 23%;
    animation-duration: 23s;
    animation-delay: -22s;
    transform-origin: 4vw 25vh;
    box-shadow: 78vmin 0 10.294467914248928vmin currentColor;
}
.animation span:nth-child(35) {
    color: #000000;
    top: 90%;
    left: 82%;
    animation-duration: 46s;
    animation-delay: -15s;
    transform-origin: -5vw 17vh;
    box-shadow: 78vmin 0 10.014291638556331vmin currentColor;
}
.animation span:nth-child(36) {
    color: #113dee;
    top: 97%;
    left: 74%;
    animation-duration: 7s;
    animation-delay: -49s;
    transform-origin: -5vw 0vh;
    box-shadow: 78vmin 0 9.986307279304466vmin currentColor;
}
.animation span:nth-child(37) {
    color: #113dee;
    top: 89%;
    left: 30%;
    animation-duration: 11s;
    animation-delay: -32s;
    transform-origin: 9vw 25vh;
    box-shadow: -78vmin 0 10.702751592293593vmin currentColor;
}
.animation span:nth-child(38) {
    color: #113dee;
    top: 95%;
    left: 74%;
    animation-duration: 7s;
    animation-delay: -42s;
    transform-origin: 23vw 12vh;
    box-shadow: -78vmin 0 10.44352173567949vmin currentColor;
}
.animation span:nth-child(39) {
    color: #f709fb;
    top: 44%;
    left: 41%;
    animation-duration: 22s;
    animation-delay: -33s;
    transform-origin: -13vw 15vh;
    box-shadow: 78vmin 0 9.969560240835975vmin currentColor;
}
.animation span:nth-child(40) {
    color: #99ff00;
    top: 29%;
    left: 51%;
    animation-duration: 39s;
    animation-delay: -24s;
    transform-origin: 22vw 12vh;
    box-shadow: 78vmin 0 10.372682391463027vmin currentColor;
}
.animation span:nth-child(41) {
    color: #113dee;
    top: 15%;
    left: 7%;
    animation-duration: 35s;
    animation-delay: -13s;
    transform-origin: -24vw -14vh;
    box-shadow: 78vmin 0 10.695259303400936vmin currentColor;
}
.animation span:nth-child(42) {
    color: #99ff00;
    top: 98%;
    left: 11%;
    animation-duration: 55s;
    animation-delay: -5s;
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

